main {
  width: 420px;
  margin: auto;
  font-family: 'Khula', sans-serif;
}
main a {
  color: #B43013;
  text-decoration: none;
}
main a:hover {
  color: blue;
  text-decoration: underline;
}
h1 {
  background-color: #B43013;
  color: white;
  padding: 1em;
  line-height: 1em;
}
h2 {
  padding: 0px 1em;
}
h4 {
  background-color: #888;
  color: white;
  padding: 0.3em 1em 0em 1em;
}
p {
  line-height: 1.5em;
}
p.footer {
  font-weight:bold;
  font-size: 1em;
  color: #B43013
}
h4 i {
  margin-right: 0.3em;
}
h4 a {
  color: white;
}
h4 a:hover {
  color: #B43013;
}